* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#app-container {
    width: 100%;
    height: 100%;
    background: azure;
}

.logos img {
  width: 100px;
  margin-left: 5px;
}

.node {
    
}
.node .delete-node {
    opacity: 0;
}
.node:hover .delete-node {
    opacity: 1;
}
.node.active {
    background: white;
}
 
.search-panel {
    width: 250px;
}

.small-tag {
    position: relative;
    border: solid 1px #0000;
    background: #495057;
    height: 18px;
    border-radius: 9px;
    font-size: 14px;
    line-height: 14px;
    padding: 2px 12px ;
    font-weight: 200;
    color: white;
}
.small-tag .delete-tag {
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
}

.title-input {
    width: 100%;
    height: 42px;
    font-size: 32px;
    outline: none;
    border: none;
    border-bottom: solid 1px #ccc;
}
.title-input:focus {
    border-bottom: solid 2px black;
}

.editor {
    width: 100%;
    height: 100%;
}

.panel {
    
    height: 100%;
}
.files-panel {
    border-right: solid 1px #ccc;
    padding: 10px;
}

.search-panel {
    padding: 10px; 
    border-right: solid 1px #ccc;
}

.tags-edit {
    
}
.tags-edit input {
    outline: none;
    border: none;
}
